.header__inner {
    position: relative;
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    min-width: 60%;
    justify-content: space-between;
}

.header__logo {
    background-repeat: no-repeat;
    background-size: cover;
}

.header__text {
    font-size: 30px;

}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;
}
