
# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem


# local env files
.env*.local
.env

# local files
123.json

# vercel
.vercel
