.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000090;
    z-index: 10;
}

.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    background: #f0eded;
    border-radius: 10px;
    padding: 50px;
}

.reg__head {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.reg__btn {
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.reg__active {
    text-decoration: underline 2px;
    text-underline-offset: 10px;
}

.input {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    outline: none;
    padding-left: 20px;
}

.reg__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.submit__btn {
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.btn__ok {
    background: #5aa330;
}

.btn__cancel {
    background: #f13737;
}