* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
}

body {
    background-color: #B4BCC4;
}

.container {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}